body {
    font-family: Arial, sans-serif;
    background-color: #fdfdfd;
    margin: 0;
    padding: 20px;
}

.upload-container {
    display: flex;
    justify-content: center;
}

.upload-box {
    border: 2px dashed #009cff;
    padding: 40px;
    text-align: center;
    border-radius: 12px;
    background-color: #f0f8ff;
    width: 400px;
    position: relative;
}

.upload-icon {
    width: 80px;
    margin-bottom: 20px;
}

.buttons button {
    background-color: #69bdf5;
    border: none;
    color: white;
    padding: 10px 16px;
    margin: 0 5px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 14px;
}
#scan-btn:hover {
    background-color: #3a7bc8;
}

.upload-hint {
    margin-top: 10px;
    color: #777;
}

.file-list-section {
    margin-top: 40px;
}

.file-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}

.file-table th,
.file-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #eee;
    text-align: left;
}

.file-table th {
    background-color: #f9f9f9;
}
